:root {
	--gradient-direction: bottom;

	--gradient-white: linear-gradient(
		to var(--gradient-direction),
		hsl(0, 0%, 100%) 0%,
		hsla(0, 0%, 100%, 0.987) 7.9%,
		hsla(0, 0%, 100%, 0.951) 14.8%,
		hsla(0, 0%, 100%, 0.896) 21%,
		hsla(0, 0%, 100%, 0.825) 26.5%,
		hsla(0, 0%, 100%, 0.741) 31.7%,
		hsla(0, 0%, 100%, 0.648) 36.6%,
		hsla(0, 0%, 100%, 0.55) 41.5%,
		hsla(0, 0%, 100%, 0.45) 46.5%,
		hsla(0, 0%, 100%, 0.352) 51.8%,
		hsla(0, 0%, 100%, 0.259) 57.6%,
		hsla(0, 0%, 100%, 0.175) 64.1%,
		hsla(0, 0%, 100%, 0.104) 71.4%,
		hsla(0, 0%, 100%, 0.049) 79.7%,
		hsla(0, 0%, 100%, 0.013) 89.1%,
		hsla(0, 0%, 100%, 0) 100%
	);

	--gradient-black: background: linear-gradient(
		to var(--gradient-direction),
		hsl(0, 0%, 0%) 0%,
		hsla(0, 0%, 0%, 0.987) 7.9%,
		hsla(0, 0%, 0%, 0.951) 14.8%,
		hsla(0, 0%, 0%, 0.896) 21%,
		hsla(0, 0%, 0%, 0.825) 26.5%,
		hsla(0, 0%, 0%, 0.741) 31.7%,
		hsla(0, 0%, 0%, 0.648) 36.6%,
		hsla(0, 0%, 0%, 0.55) 41.5%,
		hsla(0, 0%, 0%, 0.45) 46.5%,
		hsla(0, 0%, 0%, 0.352) 51.8%,
		hsla(0, 0%, 0%, 0.259) 57.6%,
		hsla(0, 0%, 0%, 0.175) 64.1%,
		hsla(0, 0%, 0%, 0.104) 71.4%,
		hsla(0, 0%, 0%, 0.049) 79.7%,
		hsla(0, 0%, 0%, 0.013) 89.1%,
		hsla(0, 0%, 0%, 0) 100%
	);
}

body {
	--gradient-angle: 0deg;
	--gradient-start: 0%;
	--gradient-end: 60%;

	--gradient: linear-gradient(var(--gradient-angle), var(--flamingo) var(--gradient-start), var(--torch-red) var(--gradient-end));

}