/* Webfont: Montserrat-Light */
@font-face {
  font-family: 'MontserratLight';
  src: url('Montserrat-Light.eot'); /* IE9 Compat Modes */
  src:
    url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('Montserrat-Light.woff2') format('woff2'),
    /* Modern Browsers */ url('Montserrat-Light.woff') format('woff'),
    /* Modern Browsers */ url('Montserrat-Light.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('Montserrat-Light.svg#Montserrat-Light') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
