@layer base {
	@font-face {
		font-family: "Montserrat";
		src: url("../fonts/Montserrat-Light.eot"); /* IE9 Compat Modes */
		src: url("../fonts/Montserrat-Light.eot?#iefix")
				format("embedded-opentype"),
			/* IE6-IE8 */ url("../fonts/Montserrat-Light.woff2") format("woff2"),
			/* Modern Browsers */ url("../fonts/Montserrat-Light.woff")
				format("woff"),
			/* Modern Browsers */ url("../fonts/Montserrat-Light.ttf")
				format("truetype"); /* Safari, Android, iOS */
		font-style: normal;
		font-weight: normal;
		// text-rendering: optimizeLegibility;
		font-display: swap;
	}

	@font-face {
		font-family: "Montserrat";
		src: url("../fonts/Montserrat-SemiBold.eot"); /* IE9 Compat Modes */
		src: url("../fonts/Montserrat-SemiBold.eot?#iefix")
				format("embedded-opentype"),
			/* IE6-IE8 */ url("../fonts/Montserrat-SemiBold.woff2")
				format("woff2"),
			/* Modern Browsers */ url("../fonts/Montserrat-SemiBold.woff")
				format("woff"),
			/* Modern Browsers */ url("../fonts/Montserrat-SemiBold.ttf")
				format("truetype"); /* Safari, Android, iOS */
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		// text-rendering: optimizeLegibility;
	}

	body {
		@apply font-montserrat text-black;
		font-size: var(--font-base);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a,
	li,
	span,
	blockquote {
		@apply antialiased;
	}

	h1,
	.h1 {
		@apply text-3xl;
		@screen m {
			hyphens: none;
		}
	}
	h2,
	.h2 {
		@apply text-xl font-semibold uppercase;
	}
	h3,
	.h3 {
		@apply text-l;
	}
	h4,
	.h4 {
		@apply text-m;
	}

	p,
	blockquote,
	ul,
	ol,
	li {
		@apply text-base font-normal;
	}

	blockquote {
		@apply text-m;
	}

	h1,
	.h1,
	h2,
	.h2 {
		b {
			font-weight: inherit;
		}
	}
}
