.layout-standard__wrapper {
	width: 100%;
	overflow: visible;
	position: relative;
}

.layout-standard {
	width: 100%;
	@apply mx-auto px-horizontal;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
