@use './spacing';

// ## Margin variables

// Set all generic or custom margins here.
// Usage example:
// ```scss
// @use "variables/margin";
//
// body {
//   display: flex;
//   flex-direction: column;
//
//   & > footer {
//     margin-top: margin.$footer-top;
//   }
// }
// ```

// Please update, add or remove the variables below to match the project needs.
// ## Custom margin variables
// For example :
// Fix the footer at the end of the document with the flex context on body element
// $footer-top: auto;

$s: spacing.$s; // 20px
$m: spacing.$m; // 30px
$l: spacing.$l; // 40px
