$none: 0;
$xxxs: 0.3125em; // 5px
$xxs: 0.625em; // 10px
$xs: 0.9375em; // 15px
$s: 1.25em; // 20px
$m: 1.875em; // 30px
$l: 2.5em; // 40px
$xl: 3.125em; // 50px
$xxl: 3.75em; // 60px
$xxxl: 6.25em; // 100px

:root {
	--spacing-none: $none;
	--spacing-2xs: $xxs;
	--spacing-xs: $xs;
	--spacing-s: $s;
	--spacing-m: $m;
	--spacing-l: $l;
	--spacing-xl: $xl;
	--spacing-2xl: $xxl;
	--spacing-3xl: $xxxl;

	--spacing-horizontal: var(--spacing-l);
	--spacing-vertical: var(--spacing-l);
	--spacing-gap: var(--spacing-m);

	--body: 1400px;
	--body-wide: 1920px;
	--body-narrow: 820px;
	--body-full: 100%;
}
